map-element {
    height: calc(100% - 1rem);
    width: 95%;
    position: relative;
    flex-shrink: 0;

    .leaflet-container {
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}
